* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  border: 1px solid #000;
  padding: 8px 0;
  margin: -1px 0 0 -1px;
  overflow: hidden;
}

.innerChild {
  padding: 4px;
}

.events {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #f2f2f2;
    padding:0 2px;
    margin:2px 0;
    border-radius:2px;
}
